body{
	
	background: whitesmoke;


	.nor{
	
		background: #00247d;
		width: 430px;
		height:225px;
		border:1px solid #000;
		position: relative;
		top: 0;

		.nor_wh1{
			background: #fff;
			width: 100px;
			height:100px;
			position: absolute;
			top:0;

			.nor_r1{
				background: red;
				width: 80px;
				height:80px;
				position: absolute;
				top:0;
			}
		}

		.nor_wh2{
			background: #fff;
			width: 100px;
			height:100px;
			position: absolute;
			bottom: 0;

			.nor_r2{
				background: red;
				width: 80px;
				height:80px;
				position: absolute;
				bottom: 0;
			}
		}

		.nor_wh3{
			background: #fff;
			width: 300px;
			height:100px;
			position: absolute;
			top:0;
			right: 0;

			.nor_r3{
				background: red;
				width: 280px;
				height:80px;
				position: absolute;
				top:0;
				right: 0;
			}
		}

		.nor_wh4{
			background: #fff;
			width: 300px;
			height:100px;
			position: absolute;
			bottom: 0;
			right: 0;

			.nor_r4{
				background: red;
				width: 280px;
				height:80px;
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
	}

	.brit{
		width: 480px;
		height:240px;
		background:#cf142b;
		border:1px solid #000;
		position: relative;
		top:20px;
	}
	.topw{
			width:0;
    		height:0;
    		border-top:111px solid #fff;
    		border-left:222px dashed transparent;
   			border-right:222px dashed transparent;

		}

	.leftw{
		width:0;
		height: 0;
		border-left: 222px solid #fff;
		border-top: 111px dashed transparent;
		border-bottom: 111px dashed transparent;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
	.rightw{
		width:0;
		height: 0;
		border-right: 222px solid #fff;
		border-top: 111px dashed transparent;
		border-bottom: 111px dashed transparent;
		position: absolute;
		right: 0;
		top: 0;
	}

	.bottomw 
{
    width:0; 
    height:0; 
    border-bottom:111px solid #fff; 
    border-left:222px dashed transparent; 
    border-right:222px dashed transparent; 
    position:absolute; 
    bottom:0; 
    right:0;
}
.topb 
{
    width:0; 
    height:0; 
    border-top:93px solid #00247d; 
    border-left:186px dashed transparent; 
    border-right:186px dashed transparent; 
    position:absolute; 
    top:0; 
    left:54px;
}
.leftb 
{
    width:0; 
    height:0; 
    border-left:186px solid #00247d; 
    border-top:93px dashed transparent; 
    border-bottom:93px dashed transparent; 
    position:absolute; 
    left:0; 
    top:27px;
}
.rightb 
{
    width:0; 
    height:0; 
    border-right:186px solid #00247d; 
    border-top:93px dashed transparent; 
    border-bottom:93px dashed transparent; 
    position:absolute; right:0; top:27px;
}
.bottomb 
{
    width:0; 
    height:0; 
    border-bottom:93px solid #00247d; 
    border-left:186px dashed transparent; 
    border-right:186px dashed transparent; 
    position:absolute; 
    bottom:0; 
    left:54px;
}
.horizontal 
{
    width:480px; 
    height:48px; 
    border-top:16px solid #fff; 
    border-bottom:16px solid #fff; 
    background:#cf142b; 
    position:absolute; left:0; 
    top:80px;
}
.vert1 
{
    width:48px; 
    height:96px; 
    border-left:16px solid #fff; 
    border-right:16px solid #fff; 
    background:#cf142b; 
    position:absolute; 
    left:200px;
    top: 0;
}
.vert2 
{
    width:48px; 
    height:96px; 
    border-left:16px solid #fff; 
    border-right:16px solid #fff; 
    background:#cf142b; 
    position:absolute; 
    left:200px;
    bottom: 0;
}

.vtop 
{
    top:0;
}
.vbottom 
{
    bottom:0;
}

	.gr{
		background: blue;
		width: 430px;
		height:225px;
		border:1px solid #000;
		position: relative;
		top: 50px;
	}

	.horw1{
		width:430px; 
    	height:25px; 
    	background:#fff; 
   		position:absolute;  
    	top:25px;
	}

	.horw2{
		width:430px; 
    	height:25px; 
    	background:#fff; 
   		position:absolute;  
    	top:75px;
	}

	.horw3{
		width:430px; 
    	height:25px; 
    	background:#fff; 
   		position:absolute;  
    	top:125px;
	}

	.horw4{
		width:430px; 
    	height:25px; 
    	background:#fff; 
   		position:absolute;  
    	top:175px;
	}

	.hv{
		width:125px; 
    	height:125px; 
    	background:blue; 
   		position:absolute;  
    	top:0;
    	left: 0;
	}

	.horw5{
		width:125px; 
    	height:25px; 
    	background:#fff; 
   		position:absolute;  
    	top:50px;
    	left: 0;
	}

	.vert_gr{
		width:25px; 
    	height:125px; 
    	background:#fff; 
   		position:absolute;  
    	top:0;
    	left: 50px;
	}

	.island{
		background: #cf142b;
		width: 430px;
		height:225px;
		border:1px solid #000;
		position: relative;
		top:60px;

		.wh1{
			background: #fff;
			width: 100px;
			height:100px;
			position: absolute;
			top:0;

			.bl1{
				background: blue;
				width: 80px;
				height:80px;
				position: absolute;
				top:0;
			}
		}

		.wh2{
			background: #fff;
			width: 100px;
			height:100px;
			position: absolute;
			bottom: 0;

			.bl2{
				background: blue;
				width: 80px;
				height:80px;
				position: absolute;
				bottom: 0;
			}
		}

		.wh3{
			background: #fff;
			width: 300px;
			height:100px;
			position: absolute;
			top:0;
			right: 0;

			.bl3{
				background: blue;
				width: 280px;
				height:80px;
				position: absolute;
				top:0;
				right: 0;
			}
		}

		.wh4{
			background: #fff;
			width: 300px;
			height:100px;
			position: absolute;
			bottom: 0;
			right: 0;

			.bl4{
				background: blue;
				width: 280px;
				height:80px;
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}


	}

	.kuv{
		width: 430px;
		height:225px;
		border:1px solid #000;
		position: relative;
		top:90px;

		.kuv_gr{
			background: green;
			width: 430px;
			height: 200px;
			position: absolute;
			top: 0;
		}

		.kuv_r{
			background: red;
			width: 430px;
			height: 130px;
			position: absolute;
			bottom: 0;
		}

		.kuv_b{
			width:0;
			height: 0;
			border-left: 220px solid #000;
			border-top: 105px dashed transparent;
			border-bottom: 105px dashed transparent;
			position: absolute;
			top: 7px;
		}

		.kuv_wh{
			background: #fff;
			width: 300px;
			height: 85px;
			position: absolute;
			right: 0;
			top: 69px;
		}

	}

	.pales{
		width: 430px;
		height:225px;
		border:1px solid #000;
		position: relative;
		top:120px;

		.pales_b{
			background: #000;
			width: 430px;
			height:75px;
			position: absolute;
			top:0;
		}

		.pales_wh{
			background: #fff;
			width: 430px;
			height:75px;
			position: absolute;
			top:75px;
		}

		.pales_gr{
			background: green;
			width: 430px;
			height:75px;
			position: absolute;
			bottom: 0;
		}

		.pales_r{
			width:0;
			height: 0;
			border-left: 180px solid #cf142b;
			border-top: 105px dashed transparent;
			border-bottom: 105px dashed transparent;
			position: absolute;
			top: 7px;

		}
	}

		.sudan{
		width: 430px;
		height:225px;
		border:1px solid #000;
		position: relative;
		top:150px;

		.sudan_r{
			background: red;
			width: 430px;
			height:75px;
			position: absolute;
			top:0;
		}

		.sudan_wh{
			background: #fff;
			width: 430px;
			height:75px;
			position: absolute;
			top:75px;
		}

		.sudan_b{
			background: black;
			width: 430px;
			height:75px;
			position: absolute;
			bottom: 0;
		}

		.sudan_gr{
			width:0;
			height: 0;
			border-left: 180px solid green;
			border-top: 105px dashed transparent;
			border-bottom: 105px dashed transparent;
			position: absolute;
			top: 7px;

		}
	}

	.maked{
		background: red;
		width: 430px;
		height:225px;
		border:1px solid #000;
		position: relative;
		top:170px;

		.maked_y1{
			width:0;
			height: 10px;
			border-left: 180px solid yellow;
			border-top: 25px dashed transparent;
			border-bottom: 25px dashed transparent;
			position: absolute;
			top: 85px;
			left: 0;
		}

		.maked_y2{
			width:0;
			height: 10px;
			border-right: 180px solid yellow;
			border-top: 25px dashed transparent;
			border-bottom: 25px dashed transparent;
			position: absolute;
			top: 85px;
			right: 0;
		}

		.maked_y3{
			width:10px; 
    		height:0; 
    		border-top:93px solid yellow; 
   			border-left:30px dashed transparent; 
    		border-right:30px dashed transparent; 
    		position:absolute; 
    		top:0; 
    		left: 180px;
		}

		.maked_y4{
			width:10px; 
    		height:0; 
    		border-bottom:88px solid yellow; 
   			border-left:30px dashed transparent; 
    		border-right:30px dashed transparent; 
    		position:absolute; 
    		bottom: 0; 
    		left: 180px;
		}

		.maked_y5{
			width: 10px;
    		height: 0;
    		position: absolute;
    		top: 10px;
    		border: 20px solid transparent;
    		border-top: 80px solid yellow;
    		transform: matrix(1.2,0,2,1.2,50,0);
    		left: 55px;
		}

		.maked_y6{
			width: 10px;
    		height: 0;
    		position: absolute;
    		border: 20px solid transparent;
    		border-top: 80px solid yellow;
    		transform: matrix(1.2, 0, -2, 1.2, 49, 10);
    		left: 228px;
		}

		.maked_y7{
			width: 10px;
    		height: 0;
    		position: absolute;
    		border: 20px solid transparent;
    		border-bottom: 80px solid yellow;
    		transform: matrix(1.2, 0, 2, 1.2, 49, -10);
    		left: 228px;
    		bottom: 0;
		}

		.maked_y8{
			width: 10px;
    		height: 0;
    		position: absolute;
    		border: 20px solid transparent;
    		border-bottom: 80px solid yellow;
    		transform: matrix(1.2, 0, -2, 1.2, 104, 115);
		}

		.maked_c{
			width: 100px;
    		height: 100px;
    		background: red;
    		border-radius: 60px;
    		position: absolute;
    		top: 70px;
    		left: 165px;

    		.maked_c1{
    			width: 80px;
    			height: 80px;
    			background: yellow;
    			border-radius: 60px;
    			position: absolute;
    			top: 10px;
    			left: 10px;
    		}
		}
	}


}

