body {
  background: whitesmoke; }
  body .nor {
    background: #00247d;
    width: 430px;
    height: 225px;
    border: 1px solid #000;
    position: relative;
    top: 0; }
    body .nor .nor_wh1 {
      background: #fff;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0; }
      body .nor .nor_wh1 .nor_r1 {
        background: red;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 0; }
    body .nor .nor_wh2 {
      background: #fff;
      width: 100px;
      height: 100px;
      position: absolute;
      bottom: 0; }
      body .nor .nor_wh2 .nor_r2 {
        background: red;
        width: 80px;
        height: 80px;
        position: absolute;
        bottom: 0; }
    body .nor .nor_wh3 {
      background: #fff;
      width: 300px;
      height: 100px;
      position: absolute;
      top: 0;
      right: 0; }
      body .nor .nor_wh3 .nor_r3 {
        background: red;
        width: 280px;
        height: 80px;
        position: absolute;
        top: 0;
        right: 0; }
    body .nor .nor_wh4 {
      background: #fff;
      width: 300px;
      height: 100px;
      position: absolute;
      bottom: 0;
      right: 0; }
      body .nor .nor_wh4 .nor_r4 {
        background: red;
        width: 280px;
        height: 80px;
        position: absolute;
        bottom: 0;
        right: 0; }
  body .brit {
    width: 480px;
    height: 240px;
    background: #cf142b;
    border: 1px solid #000;
    position: relative;
    top: 20px; }
  body .topw {
    width: 0;
    height: 0;
    border-top: 111px solid #fff;
    border-left: 222px dashed transparent;
    border-right: 222px dashed transparent; }
  body .leftw {
    width: 0;
    height: 0;
    border-left: 222px solid #fff;
    border-top: 111px dashed transparent;
    border-bottom: 111px dashed transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }
  body .rightw {
    width: 0;
    height: 0;
    border-right: 222px solid #fff;
    border-top: 111px dashed transparent;
    border-bottom: 111px dashed transparent;
    position: absolute;
    right: 0;
    top: 0; }
  body .bottomw {
    width: 0;
    height: 0;
    border-bottom: 111px solid #fff;
    border-left: 222px dashed transparent;
    border-right: 222px dashed transparent;
    position: absolute;
    bottom: 0;
    right: 0; }
  body .topb {
    width: 0;
    height: 0;
    border-top: 93px solid #00247d;
    border-left: 186px dashed transparent;
    border-right: 186px dashed transparent;
    position: absolute;
    top: 0;
    left: 54px; }
  body .leftb {
    width: 0;
    height: 0;
    border-left: 186px solid #00247d;
    border-top: 93px dashed transparent;
    border-bottom: 93px dashed transparent;
    position: absolute;
    left: 0;
    top: 27px; }
  body .rightb {
    width: 0;
    height: 0;
    border-right: 186px solid #00247d;
    border-top: 93px dashed transparent;
    border-bottom: 93px dashed transparent;
    position: absolute;
    right: 0;
    top: 27px; }
  body .bottomb {
    width: 0;
    height: 0;
    border-bottom: 93px solid #00247d;
    border-left: 186px dashed transparent;
    border-right: 186px dashed transparent;
    position: absolute;
    bottom: 0;
    left: 54px; }
  body .horizontal {
    width: 480px;
    height: 48px;
    border-top: 16px solid #fff;
    border-bottom: 16px solid #fff;
    background: #cf142b;
    position: absolute;
    left: 0;
    top: 80px; }
  body .vert1 {
    width: 48px;
    height: 96px;
    border-left: 16px solid #fff;
    border-right: 16px solid #fff;
    background: #cf142b;
    position: absolute;
    left: 200px;
    top: 0; }
  body .vert2 {
    width: 48px;
    height: 96px;
    border-left: 16px solid #fff;
    border-right: 16px solid #fff;
    background: #cf142b;
    position: absolute;
    left: 200px;
    bottom: 0; }
  body .vtop {
    top: 0; }
  body .vbottom {
    bottom: 0; }
  body .gr {
    background: blue;
    width: 430px;
    height: 225px;
    border: 1px solid #000;
    position: relative;
    top: 50px; }
  body .horw1 {
    width: 430px;
    height: 25px;
    background: #fff;
    position: absolute;
    top: 25px; }
  body .horw2 {
    width: 430px;
    height: 25px;
    background: #fff;
    position: absolute;
    top: 75px; }
  body .horw3 {
    width: 430px;
    height: 25px;
    background: #fff;
    position: absolute;
    top: 125px; }
  body .horw4 {
    width: 430px;
    height: 25px;
    background: #fff;
    position: absolute;
    top: 175px; }
  body .hv {
    width: 125px;
    height: 125px;
    background: blue;
    position: absolute;
    top: 0;
    left: 0; }
  body .horw5 {
    width: 125px;
    height: 25px;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 0; }
  body .vert_gr {
    width: 25px;
    height: 125px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50px; }
  body .island {
    background: #cf142b;
    width: 430px;
    height: 225px;
    border: 1px solid #000;
    position: relative;
    top: 60px; }
    body .island .wh1 {
      background: #fff;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0; }
      body .island .wh1 .bl1 {
        background: blue;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 0; }
    body .island .wh2 {
      background: #fff;
      width: 100px;
      height: 100px;
      position: absolute;
      bottom: 0; }
      body .island .wh2 .bl2 {
        background: blue;
        width: 80px;
        height: 80px;
        position: absolute;
        bottom: 0; }
    body .island .wh3 {
      background: #fff;
      width: 300px;
      height: 100px;
      position: absolute;
      top: 0;
      right: 0; }
      body .island .wh3 .bl3 {
        background: blue;
        width: 280px;
        height: 80px;
        position: absolute;
        top: 0;
        right: 0; }
    body .island .wh4 {
      background: #fff;
      width: 300px;
      height: 100px;
      position: absolute;
      bottom: 0;
      right: 0; }
      body .island .wh4 .bl4 {
        background: blue;
        width: 280px;
        height: 80px;
        position: absolute;
        bottom: 0;
        right: 0; }
  body .kuv {
    width: 430px;
    height: 225px;
    border: 1px solid #000;
    position: relative;
    top: 90px; }
    body .kuv .kuv_gr {
      background: green;
      width: 430px;
      height: 200px;
      position: absolute;
      top: 0; }
    body .kuv .kuv_r {
      background: red;
      width: 430px;
      height: 130px;
      position: absolute;
      bottom: 0; }
    body .kuv .kuv_b {
      width: 0;
      height: 0;
      border-left: 220px solid #000;
      border-top: 105px dashed transparent;
      border-bottom: 105px dashed transparent;
      position: absolute;
      top: 7px; }
    body .kuv .kuv_wh {
      background: #fff;
      width: 300px;
      height: 85px;
      position: absolute;
      right: 0;
      top: 69px; }
  body .pales {
    width: 430px;
    height: 225px;
    border: 1px solid #000;
    position: relative;
    top: 120px; }
    body .pales .pales_b {
      background: #000;
      width: 430px;
      height: 75px;
      position: absolute;
      top: 0; }
    body .pales .pales_wh {
      background: #fff;
      width: 430px;
      height: 75px;
      position: absolute;
      top: 75px; }
    body .pales .pales_gr {
      background: green;
      width: 430px;
      height: 75px;
      position: absolute;
      bottom: 0; }
    body .pales .pales_r {
      width: 0;
      height: 0;
      border-left: 180px solid #cf142b;
      border-top: 105px dashed transparent;
      border-bottom: 105px dashed transparent;
      position: absolute;
      top: 7px; }
  body .sudan {
    width: 430px;
    height: 225px;
    border: 1px solid #000;
    position: relative;
    top: 150px; }
    body .sudan .sudan_r {
      background: red;
      width: 430px;
      height: 75px;
      position: absolute;
      top: 0; }
    body .sudan .sudan_wh {
      background: #fff;
      width: 430px;
      height: 75px;
      position: absolute;
      top: 75px; }
    body .sudan .sudan_b {
      background: black;
      width: 430px;
      height: 75px;
      position: absolute;
      bottom: 0; }
    body .sudan .sudan_gr {
      width: 0;
      height: 0;
      border-left: 180px solid green;
      border-top: 105px dashed transparent;
      border-bottom: 105px dashed transparent;
      position: absolute;
      top: 7px; }
  body .maked {
    background: red;
    width: 430px;
    height: 225px;
    border: 1px solid #000;
    position: relative;
    top: 170px; }
    body .maked .maked_y1 {
      width: 0;
      height: 10px;
      border-left: 180px solid yellow;
      border-top: 25px dashed transparent;
      border-bottom: 25px dashed transparent;
      position: absolute;
      top: 85px;
      left: 0; }
    body .maked .maked_y2 {
      width: 0;
      height: 10px;
      border-right: 180px solid yellow;
      border-top: 25px dashed transparent;
      border-bottom: 25px dashed transparent;
      position: absolute;
      top: 85px;
      right: 0; }
    body .maked .maked_y3 {
      width: 10px;
      height: 0;
      border-top: 93px solid yellow;
      border-left: 30px dashed transparent;
      border-right: 30px dashed transparent;
      position: absolute;
      top: 0;
      left: 180px; }
    body .maked .maked_y4 {
      width: 10px;
      height: 0;
      border-bottom: 88px solid yellow;
      border-left: 30px dashed transparent;
      border-right: 30px dashed transparent;
      position: absolute;
      bottom: 0;
      left: 180px; }
    body .maked .maked_y5 {
      width: 10px;
      height: 0;
      position: absolute;
      top: 10px;
      border: 20px solid transparent;
      border-top: 80px solid yellow;
      -webkit-transform: matrix(1.2, 0, 2, 1.2, 50, 0);
      transform: matrix(1.2, 0, 2, 1.2, 50, 0);
      left: 55px; }
    body .maked .maked_y6 {
      width: 10px;
      height: 0;
      position: absolute;
      border: 20px solid transparent;
      border-top: 80px solid yellow;
      -webkit-transform: matrix(1.2, 0, -2, 1.2, 49, 10);
      transform: matrix(1.2, 0, -2, 1.2, 49, 10);
      left: 228px; }
    body .maked .maked_y7 {
      width: 10px;
      height: 0;
      position: absolute;
      border: 20px solid transparent;
      border-bottom: 80px solid yellow;
      -webkit-transform: matrix(1.2, 0, 2, 1.2, 49, -10);
      transform: matrix(1.2, 0, 2, 1.2, 49, -10);
      left: 228px;
      bottom: 0; }
    body .maked .maked_y8 {
      width: 10px;
      height: 0;
      position: absolute;
      border: 20px solid transparent;
      border-bottom: 80px solid yellow;
      -webkit-transform: matrix(1.2, 0, -2, 1.2, 104, 115);
      transform: matrix(1.2, 0, -2, 1.2, 104, 115); }
    body .maked .maked_c {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 60px;
      position: absolute;
      top: 70px;
      left: 165px; }
      body .maked .maked_c .maked_c1 {
        width: 80px;
        height: 80px;
        background: yellow;
        border-radius: 60px;
        position: absolute;
        top: 10px;
        left: 10px; }
